h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  
}

h2,h4,h6{
    font-style:italic;
    color: white;
}

h3,h5,p{
    font-style:italic;
    color: #6c757d;
}
.block{ display:block;}

.green-convalid {
    color: green;
}
.red-convalid {
    color: red;
}

.carosello{
    height: 50%;
    background-size: cover;
    background-position: center center;
}

.height-max{
    height: 2000px;
    margin-top:200;
    padding-top: 2;
}

.Footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
    background-color:#6c757d ;
    text-align: center;
}

.button{
    margin: 15px;
}

.fieldstyle{
    border-width: 1px;
    border-style: groove;
    border-color: black;
    padding: 10px;
}
 
.card{
    margin: 10px;
}

html, body { 
    height: 100%; 
    width: 100%;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.accesso{
    margin-top: 150px;
    margin-bottom: 150px;
}

.profilo{
    margin-top: 50px;
    margin-bottom: 50px;
}

.password{
    margin-top: 30px;
    margin-bottom: 30px;
}

.pag{
    margin-bottom: 310px;
}

.pagA{
    margin-bottom: 380px;
}

.parch{
    margin-bottom: 200px;
}

.autista{
    margin-bottom: 30px;
}

.img-profilo{
    width: 100%;
    height: 100%;
    align-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.list-group-item-info {
    color: #0d1011;
    background-color: #e4e4e4;
}

@media only screen and (max-width: 599px) {
    /* For smartphones: */
    .container{
        width: 100%;
        height: auto;
    }

    .accesso{
        margin-top: 55px;
        margin-bottom: 55px;
    }

    .profilo{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .password{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .pag{
        margin-bottom: 200px;
    }

    .pagA{
        margin-bottom: 175px;
    }

    .autista{
        margin-bottom: 10px;
    }

    .parch{
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .container{
        width: 100%;
        height: auto;
    }

    .accesso{
        margin-top: 105px;
        margin-bottom: 105px;
    }

    .profilo{
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .password{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .pag{
        margin-bottom: 200px;
    }

    .pagA{
        margin-bottom: 300px;
    }

    .autista{
        margin-bottom: 20px;
    }

    .parch{
        margin-bottom: 130px;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .container{
        width: 100%;
        height: auto;
    }

    .accesso{
        margin-top: 155px;
        margin-bottom: 155px;
    }

    .profilo{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .password{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .pag{
        margin-bottom: 300px;
    }

    .pagA{
        margin-bottom: 380px;
    }

    .autista{
        margin-bottom: 30px;
    }

    .parch{
        margin-bottom: 250px;
    }
}

@media only screen and (min-width: 1520px) {
    /* For monitor: */
    .container{
        width: 100%;
        height: auto;
    }

    .accesso{
        margin-top: 300px;
        margin-bottom: 300px;
    }

    .profilo{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .password{
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .pag{
        margin-bottom: 600px;
    }

    .pagA{
        margin-bottom: 760px;
    }

    .autista{
        margin-bottom: 60px;
    }

    .parch{
        margin-bottom: 500px;
    }
}

@media only screen and (max-width: 400px) {
    .carousel-caption{
        top: 2px;
    }
}